* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
}

footer {
   min-height:50vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    width: 70%;
}

.footer-content h3 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(83, 59, 59)
}
.footer-bottom{
    background: black;
    width: 100%;
    text-align:center;
}
.footer-bottom p{
    font-size: 14px;
    opacity: .5;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
    
}


.navbar-small{
    position:absolute;
    margin-bottom: 0px;
    display: flex;
    

}



.container .footer-content{
    
        width: 100%;
    
     

}

.line{
    border: 1px solid gray;
}