* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
   
  }

  .sidebar {
    width: 190px;
    height: 100vh;
    background-color:whitesmoke ;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
  
  .sidebarTop,
  .sidebarCenter,
  .sidebarBottom {
    display: flex;
    align-items: center;
    width: 80%;
    border-bottom: 1px solid #4b4b4b;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  .sidebarCenter {
    padding: 0;
  }
  
  .sidebarBottom {
    justify-content: center;
    border: none;
  }
  
  .logo {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  .brand {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .listItem {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  
  .listItemIcon {
    width: 30px;
    font-size: 20px;
  }
  
  .listItem.active,
  .listItem:hover {
    background-color:darkblue;
    color:white;
  }


  .name {
    font-weight: bold;
    cursor: pointer;
  }
  .job{
    font-weight: bold;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 50px;
    }
    .brand,
    .name,
    .job,
    .listItemText 
    {
      display: none;
    }
  }
  .container-fluid{
    display: flex;
    width: 100%;
  }

  .feed{

    width: 70%;
    border-right: none;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
    background-color: whitesmoke;
   
  }

  .communHead{
    position:sticky ;
    top: 0;
    text-align: center;
    background-color: white;
    z-index: 100;
    border: none ;
    padding:15px 20px ;
  }
  
  .communHead h2{
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    color: darkmagenta;
  }
  .feed::-webkit-scrollbar{
    display: none;
  }
  
  .card{
    margin-top: 3px;
    margin-left: 0.5%;
    padding: 1.5%;
    border: none ;
    border-radius: 3px;
    background-color:lightyellow;
  
  }

  
  .readBox form {
    display: flex;
    flex-direction: column;
  }
  
  .read img{
    width: 40px;
    height: 50%;
  }
.containerThree{
  width: 20%;
  padding: 1%;
  background-color: whitesmoke;
}

.reaction{
  margin-top: 5%;
  padding: 10px 50px 0;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  
}
.reaction button{
 
  background-color:white;
  color: black;
  border: none;
}
.cardImgTop{
  width: 755px;
  height: 400px;
  border-radius: 3px;
}
